<ion-header>
  <ion-toolbar>
    <ion-title>My Hand</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!playing" onclick="dismissModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let card of cards">
    <ion-item *ngIf="playing" lines="none" button (click)="play(card)">
      <ion-label
        ><ion-icon name="square" style="color: {{card.color}};"></ion-icon>
        {{card.char}}</ion-label
      >
    </ion-item>
    <ion-item *ngIf="!playing" lines="none">
      <ion-label
        ><ion-icon name="square" style="color: {{card.color}};"></ion-icon>
        {{card.char}}</ion-label
      >
    </ion-item>
  </ion-card>
</ion-content>
