.card {
  width: 12vw;
  height: 16vw;
  border-radius: 2vw;
  text-align: center;
  vertical-align: middle;
}

$color: var(--dynamic-color);
$content: var(--content);

.playing-card {
  position: absolute;
  background: #3880ff;
  width: 29vw;
  height: 39vw;
  border: 1px solid black;
  border-radius: 5%;
}

.square-main {
  position: absolute;
  top: 14vw;
  left: 9.5vw;
  width: 9vw;
  height: 9vw;
  transform: rotate(45deg);
}

.corner-detail {
  position: absolute;
  left: 2vw;
  top: 2vw;
  font-family: sans-serif;
  font-size: 3vw;
  color: black;
}

.bottom {
  bottom: 2vw;
  right: 2vw;
  transform: rotate(180deg);
}

.square-small {
  position: absolute;
  top: 4.2vw;
  left: 0.5vw;
  width: 2vw;
  height: 2vw;
  transform: rotate(45deg);
}
