.card {
  width: 12vmin;
  height: 16vmin;
  border-radius: 2vmin;
  text-align: center;
  vertical-align: middle;
}

$color: var(--dynamic-color);
$content: var(--content);

.playing-card {
  position: absolute;
  background: #3880ff;
  width: 29vmin;
  height: 39vmin;
  border: 1px solid black;
  border-radius: 5%;
}

.square-main {
  position: absolute;
  top: 14vmin;
  left: 9.5vmin;
  width: 9vmin;
  height: 9vmin;
  transform: rotate(45deg);
}

.corner-detail {
  position: absolute;
  left: 2vmin;
  top: 2vmin;
  font-family: sans-serif;
  font-size: 3vmin;
  color: black;
}

.bottom {
  bottom: 2vmin;
  right: 2vmin;
  transform: rotate(180deg);
}

.square-small {
  position: absolute;
  top: 4.2vmin;
  left: 0.5vmin;
  width: 2vmin;
  height: 2vmin;
  transform: rotate(45deg);
}
