<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Game</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-button expand="block"><ion-icon name="sync-outline"></ion-icon> {{roundCounter}}</ion-button></ion-col>
      <ion-col size="6"><ion-item lines="none">Playing: {{activePlayer}}</ion-item></ion-col>
      <ion-col><ion-button expand="block"><ion-icon name="people"></ion-icon> {{playerCount}}</ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col><ion-button expand="block" (click)="showScoreboard()"><ion-icon name="create-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="9" *ngIf="gameState === StateEnum.Playing"><ion-button expand="block" (click)="showHand()" [disabled]="activePlayer != playerID">Play</ion-button></ion-col>
      <ion-col size="9" *ngIf="gameState === StateEnum.Predicting"><ion-button expand="block" (click)="predict()" [disabled]="activePlayer != playerID">Predict</ion-button></ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
