.my-custom-class .modal-wrapper {
  background: #222;
}

ion-item {
  text-align: center;
}

.centering {
  display: flex;
  justify-content: center;
  align-content: center;
}

@for $i from 1 through 6 {
  .piling {
    &:nth-child(#{$i}) {
      position: absolute;
      transform: rotate(random(30) + deg);
    }
  }
}

.top {
  height: 25%;
}

.left {
  width: 25%;
}

.bottom {
  height: 75%;
}

.right {
  width: 75%;
}
