.my-custom-class .modal-wrapper {
  background: #222;
}

ion-item {
  text-align: center;
}

.centering {
  display: flex;
  justify-content: center;
  align-content: center;
}

.top {
  height: 21%;
}

.left {
  width: 30%;
}

.bottom {
  height: 70%;
}

.right {
  width: 70%;
}
